
.body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-blue-business-technology-information-security-banner-background-image_260807.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}
